<template>
  <style>
    /* full-page "details" overlay */
    section {
      position: fixed; z-index: 2147483647;
      top: 0px; right: 0px; bottom: 0px; left: 0px;
      width: 100vw; height: 100vh;
      background: #000;
      opacity: 0; }
    section #capture {
      position: absolute;
      top: 0px; right: 0px; bottom: 0px; left: 0px;
      width: 100vw; height: 100vh;
      opacity: 0.35;
      -webkit-filter: blur(10px);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0); }
    section iframe {
      position: relative;
      width: 100vw; height: 100vh;
      background: transparent;
    }
    /* bettr.links sidebar */
    aside {
      position: fixed; z-index: 2147483648;
      top: 0px; right: -50px; bottom: auto; left: auto;
      width: 450px; height: 100vh;
      background: #292929;
      -webkit-transform: translateX(400px);
      transform: translateX(400px); }
    aside iframe {
      width: 400px; height: 100vh;
    }
  </style>

  <section>
    <img id="capture" />
    <iframe id="details" frameborder="0" allowtransparency="true"></iframe>
  </section>

  <aside>
    <iframe id="sidebar" frameborder="0"></iframe>
  </aside>
</template>

<script src="../javascripts/views/components.js"></script>
