<style>
  body.bettrlink {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    padding: 0;
    background: #292929;
    perspective: 600px;
  }

  #bettrlink-sidebar {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    z-index: 10;
    width: 300px;
    background-color: #48a770;
    box-shadow: -30px 0px 100px 15px #000;
    animation: slide-in 0.5s ease forwards;
  }

  #bettrlink-logo {
    margin: 0;
    padding: 1em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
  }

  #bettrlink-nav li {
    font-family: 'Lato', Calibri, Arial, sans-serif;
  }

  #bettrlink-details {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 8;
    padding-left: 300px;
    color: #fff;
    opacity: 0;
    animation: fade-in 0.5s ease 0.1s forwards;
  }

  #bettrlink-page-title {
    margin: 30px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: #fff;
  }

  #bettrlink-page-url {
    margin: 10px 30px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.75em;
    color: #fff;
  }

  #bettrlink-screenshot {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 5;
    margin: 0 auto;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
    animation: zoom-out 0.5s ease 0.1s forwards;
  }

  /*-------------------------------------------------------------------------*/
  /* Animations                                                              */
  /*-------------------------------------------------------------------------*/

  @keyframes slide-in {
    0% { transform: translate3d(-300px, 0, 0); }
    100% { transform: translate3d(0px, 0, 0); }
  }

  @keyframes fade-in {
    0% { background-color: rgba(41,41,41,0); opacity: 0; }
    100% { background-color: rgba(41,41,41,0.7); opacity: 1; }
  }

  @keyframes zoom-out {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, 0, -200px); }
  }

</style>

<aside id="bettrlink-sidebar">
  <h2 id="bettrlink-logo">
    Bettr.Link
  </h2>
  <ul id="bettrlink-nav">
		<li><a class="ion-ios-color-filter-outline" href="#">Design</a></li>
		<li><a class="ion-ios-lightbulb" href="#">Inspiration</a></li>
		<li><a class="ion-ios-flask-outline" href="#">Programming</a></li>
		<li><a class="ion-settings" href="#">Tools</a></li>
		<li><a class="ion-ios-box-outline" href="#">Uncategorized</a></li>
	</ul>
</aside>

<section id="bettrlink-details">
  <h1 id="bettrlink-page-title"></h1>
  <h3 id="bettrlink-page-url"></h3>
</section>
